<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>F1 info</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
    </head>
        <!-- Add your site or application content here -->
        
        <body ng-app="F1App" ng-controller="driversController">

        <input type="text" ng-model="nameFilter" placeholder="Search..."/>

          <table>
            <thead>
              <tr><th colspan="4">F1 Drivers Championship Standings</th></tr>
            </thead>
            <tbody>
              <tr ng-repeat="driver in driversList | filter: searchFilter">
                <td>{{$index + 1}}</td>
                <td>
                  {{driver.Driver.givenName}}&nbsp;{{driver.Driver.familyName}}
                </td>
                <td>{{driver.Constructors[0].name}}</td>
                <td>{{driver.points}}</td>
              </tr>
            </tbody>
          </table>
  
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="js/app.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>

    </body>
</html>
